/*  Theme Responsive Css */

@media only screen and (max-width: 5000px){
  
  .boxed_wrapper{
    overflow-x: hidden;
  }

}

@media only screen and (max-width: 1799px){

  .put-security .image-layer,
  .works-section .image-layer{
    display: none;
  }

  .about-style-four .image-layer{
    display: none;
  }

}

@media only screen and (max-width: 1499px){
  
  .our-protection .inner-content,
  .testimonial-section .inner-content,
  .brand-section .inner-content{
    margin: 0px;
  }
  .brand-section .brand-content,
  .brand-section .title-box{
    float: none;
    display: block;
  }
  .brand-section .title-box{
    margin-bottom: 30px;
  }
  .testimonial-block-one {
    padding: 20px 20px 20px 19px;
  }

}


@media only screen and (max-width: 1200px){
	
  .form-section .img-column{
    left: 0px;
  }
  .brand-section .brand-content li.image-box{
    margin-right: 15px;
  }
  .call-to-action .call-content{
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 15px;
  }
  .call-to-action .inner-content .link{
    float: none;
    text-align: center;
  }
  .call-to-action .call-content{
    padding: 0px;
  }
  .call-to-action .call-content .icon-box{
    display: none;
  }
  .footer-top .newsletter-widget .footer-social li,
  .contact-section .contact-info .social li{
    margin-bottom: 4px;
  }
  .blog-details-content .content-style-two .inner-content .image-box{
    margin-top: 70px;
  }
  .blog-details .sidebar .sidebar-categories {
    padding: 39px 30px 41px 45px;
  }
  .about-section .about-content .single-item .icon-box:before{
    bottom: -114%;
  }

  .main-header .header-bottom .outer-box .btn-box{
    margin-left: 25px;
  }

  .main-header.style-three .header-bottom .outer-box{
    padding-left: 0px;
  }

  .main-header.style-three .main-menu .navigation > li{
    margin: 0px 15px;
  }

  .about-style-two .inner-box .text{
    position: relative;
    right: 0px;
    bottom: 0px;
  }

  .about-style-two .content-box .lower-box{
    margin-left: 0px;
  }

  .service-block-two .inner-box .content-box {
    padding: 10px 35px 10px 235px;
  }

  .service-block-two .inner-box .content-box p{
    margin-bottom: 9px;
  }

  .project-block-one .inner-box .content-box .view-btn{
    margin-bottom: 10px;
  }

  .about-style-three .inner-box{
    padding-right: 0px;
  }

  .callus-section .inner-container .title h2{
    float: none;
    display: block;
    margin-bottom: 30px;
  }

  .callus-section .inner-container .call-box{
    float: none;
    display: inline-block;
    margin: 0px;
  }

  .cyber-awareness .inner-box{
    padding-left: 0px;
  }

  .news-block-one .lower-content{
    padding-left: 30px;
  }

  .about-style-five .content-box .inner-box .single-item:first-child{
    left: 30px;
  }

  .callus-section.alternet-2 .inner-container .title{
    display: block;
    float: none;
    margin-bottom: 30px;
  }

  .download-app .content-box{
    margin-left: 0px;
  }

}



@media only screen and (max-width: 991px){
	
  .header-bottom .logo-outer{
    float: none;
    display: block;
    text-align: center;
    padding: 0px;
  }
  .header-bottom .menu-area{
    float: none;
    display: block;
  }
  .main-slider .owl-nav{
    display: none;
  }
  .header-bottom .outer-box{
    position: absolute;
    float: none;
    top: 15px;
    right: 5px;
    padding: 0px;
  }
  .main-header .header-top .top-left,
  .main-header .header-top .top-right{
    float: none;
    display: block;
    text-align: center;
  }
  .main-header .header-top .social li,
  .main-header .header-top .top-right li{
    float: none;
    display: inline-block;
  }
  .main-header .header-top li a.upper-btn{
    display: none;
  }
  .main-header .header-top{
    padding-bottom: 15px;
  }
  .main-menu .navigation > li > ul > li{
    padding: 0px 0px;
  }
  .main-menu .navigation > li > ul > li:hover{
    background: #333333;
    border-bottom: 1px solid #333333;
  }
  .main-menu .navigation > li > ul > li,
  .main-menu .navigation > li > ul > li:hover,
  .main-menu .navigation > li > ul > li > ul > li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.1)
  }
  .main-menu .navigation > li > ul > li > ul > li > a{
    color: #ffffff !important;
  }
  .search-box.now-visible{
    top: 40px;
  }
  .about-section .video-content{
    margin: 0px 0px 30px 0px;
  }
  .about-section .about-content{
    margin: 0px;
  }
  .about-section .about-content .single-item .icon-box:before{
    display: none;
  }
  .form-section .img-column{
    display: none;
  }
  .our-protection .inner-content:before{
    display: none;
  }
  .our-protection .inner-content .left-column,
  .our-protection .inner-content .image-box{
    margin-bottom: 40px;
  }
  .counter-block-one{
    margin: 15px auto;
  }
  .security-information .image-box{
    margin: 0px 0px 40px 0px;
  }
  .security-information .information-content{
    margin: 0px;
  }
  .single-team-content{
    margin-bottom: 30px;
  }
  .brand-section .brand-content li.image-box{
    margin-bottom: 15px;
  }
  .footer-top .logo-widget,
  .footer-top .service-widget{
    margin: 0px 0px 30px 0px;
  }
  .fixed-header .sticky-header{
    display: none;
  }
  .header-style-two .main-menu .navbar-header .navbar-toggle .icon-bar{
    background: #222222;
  }
  .header-style-two .search-box.now-visible, 
  .header-style-two .search-box-area .search-box{
    top: 39px;
  }
  .header-style-two .header-top .left-column{
    float: none;
    display: block;
    text-align: center;
    margin-bottom: 10px;
  }
  .header-style-two .header-top .left-column li{
    float: none;
    display: inline-block;
  }
  .header-style-two .header-top .right-column,
  .header-style-two .header-top .right-column ul{
    float: none;
    display: block;
    text-align: center;
  }
  .feature-section .feature-column:before{
    display: none;
  }
  .service-details .service-sidebar-content{
    margin: 0px 0px 50px 0px;
  }
  .our-blog .news-block-one .lower-content {
    padding: 44px 30px 50px 30px;
  }
  .blog-details-content .content-style-two .inner-content .image-box{
    margin: 0px 0px 30px 0px;
  }
  .blog-details .sidebar{
    margin: 40px 0px 0px 0px;
  }
  .blog-details .sidebar .sidebar-post .post{
    padding-bottom: 47px;
  }
  .contact-section .contact-info{
    margin-bottom: 30px;
  }
  .service-details-content .content-style-two .inner-content .image-box{
    margin-bottom: 30px;
  }
  .service-details .service-details-content .content-style-two .inner-content{
    margin-bottom: 20px;
  }

  .brand-section .brand-content{
    display: block;
    text-align: center;
  }

  .brand-section .brand-content li.image-box{
    float: none;
    display: inline-block;
  }

  .main-header.style-three .header-bottom .outer-box{
    padding: 0px;
    top: -6px;
  }

  .feature-block-two .inner-box{
    margin-bottom: 30px;
  }

  .feature-style-three .inner-container{
    padding-bottom: 10px;
  }

  .about-style-two .inner-box .text{
    max-width: 100%;
  }

  .about-style-two .content-box{
    margin-left: 0px;
  }

  .service-block-two .inner-box .content-box {
    padding: 45px 35px 48px 235px;
  }

  .intro-section .single-block{
    border: none;
  }

  .put-security .content-box{
    margin: 0px 0px 30px 0px;
  }

  .put-security .video-inner{
    margin: 0px;
  }

  .project-section .filters .filter-btns li{
    margin-bottom: 10px;
  }

  .feature-style-four .inner-box{
    margin: 0px 0px 30px 0px;
  }

  .feature-style-four .content-box{
    margin-left: 0px;
  }

  .feature-style-four .content-box .single-item .icon-box:before{
    display: none;
  }

  .feature-style-five .inner-box:first-child .content-box{
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .feature-style-five .inner-box .image-box{
    margin: 0px 0px 30px 0px;
  }

  .feature-style-five .inner-box:last-child .content-box{
    margin-left: 0px;
  }

  .news-block-one{
    margin-bottom: 30px;
  }

  .about-style-three .inner-box .single-column:last-child{
    padding-top: 0px;
  }

  .about-style-three .inner-box{
    margin: 0px 0px 30px 0px;
  }

  .works-section .content-box{
    margin-left: 0px;
  }

  .cyber-awareness .inner-box .single-item{
    margin-bottom: 10px;
    padding: 38px 35px 35px 35px;
  }

  .cyber-awareness .inner-box .single-item:hover{
    margin: 0px !important;
  }

  .cyber-awareness .inner-box .single-item a{
    opacity: 1;
  }

  .counter-style-two .image-box .image{
    position: relative;
    top: 0px;
    margin-bottom: 50px;
  }

  .main-header.style-five .logo-outer{
    position: relative;
    display: block;
    float: none;
    margin-bottom: 30px;
    text-align: center;
  }

  .main-header.style-five .header-bottom .btn-box{
    position: absolute;
    top: -1px;
    right: 0px;
  }

  .main-header.style-five .header-bottom{
    padding: 5.5px 0px;
  }

  .about-style-four .upper-box .image-box{
    margin-bottom: 30px;
  }

  .about-style-four .feature-box .feature-column:before,
  .about-style-four .feature-box .feature-column:after{
    display: none;
  }

  .about-style-four .feature-box .feature-block{
    margin-bottom: 30px;
  }

  .main-slider.style-six .content{
    margin-bottom: 50px;
  }

  .main-slider.style-six .image-box{
    margin: 0px;
  }

  .about-style-five .content-box .inner-box .single-item{
    position: relative !important;
    display: inline-block;
    margin: 0px 5px;
    left: 0px !important;
    top: 0px !important;
    right: 0px !important;
    bottom: 0px !important;
    margin-bottom: 10px;
  }

  .about-style-five .content-box .upper-box{
    margin: 0px 0px 30px 0px;
  }

  .about-style-five .image-box{
    margin-right: 0px;
  }

  .smart-security .outer-container .single-item{
    margin: 15px 0px;
  }

  .feature-style-six .inner-box .content-box{
    margin: 30px 0px 30px 0px !important;
  }

  .feature-style-six .inner-box .image-box{
    margin: 0px !important;
  }

  .download-app .content-box{
    margin-bottom: 30px;
  }

  .about-style-two .inner-box{
    padding-right: 0px;
  }

  .main-header.style-three .header-bottom{
    padding-bottom: 15px;
  }

  .main-header.style-five .main-menu .navbar-header .navbar-toggle{
    padding: 15px 5px;
  }

}


@media only screen and (max-width: 768px){
	
.header-style-two .header-bottom .logo-outer{ padding: 5px 0;}	
.sltbtn{ position: relative;left: 0; top: 0; padding: 8px 20px 10px;}	
.main-slider .text{ font-size: 11px;}
.sltbtn a{ font-size: 8px;}
.main-slider h1{ font-size: 20px !important; margin-bottom: 5px;}
.main-slider h6{ font-size: 14px;}
.sltbtn2{ position: relative; left: 0; bottom: -55px;}
.packages{ height: auto; margin: 0;}
.pk{ width: 100%; margin: 15px 0;}
.pk3{ position: relative; top: 0;}
.pk4{ position: relative; top: 0;}
.menu-panel .menu-panel-menu{ text-align: center;}
.menu-panel .mnumber{ font-size: 30px; line-height: 40px;}
.menu-panel h3{ font-size: 18px;}
.mykhana .mykhana-left { padding: 15px;}
.we-care{ margin-bottom: 70px;}
.people-section .title-panel{ margin-bottom: 70px;}
.people-section .care{ background: none; background-color: #FAFBFB;}
.footer-social{ padding: 30px 0;}
.callus{ margin-bottom: 30px;}
.footer-top .service-widget .service-list li{ width: 100%;}
.main-footer .footer-bottom{ text-align: center;}
.copyright{text-align: center;}
.mkheader-top .right-content {text-align: center;}
.service-tab{ margin-top: 0px;}
.service-tab .tab-content{ padding: 10px;}
.service-tab .nav-tabs .nav-link{ border-radius: 36px;}
.service-tab .nav-tabs .nav-link.active{ border-radius: 36px;}
.service-tab .tab-content img{ margin-bottom: 20px;}
.apart-bottom img{ margin-bottom: 20px;}
.founder-panel{ padding: 12px;}
.rbutton .form-check{ font-size: 15px;}
.cous .fa{ margin-bottom: 15px;}
.service-tab .nav-tabs .nav-link{ padding: 8px 20px; font-size: 12px;}
.service-tab .nav-tabs .nav-link.active{ padding: 8px 20px;}
.logobg{ display: none;}
.mkheader-top{ padding: 10px 0 0;}
.main-menu .navigation > li{ padding: 0;}
.flavors-panel{ padding: 30px 0;}



	
	.service-block-one .lower-content {
    padding: 43px 10px 49px 15px;
  }
  .counter-block-one .count-outer:before{
    display: none;
  }
  .counter-block-one .count-outer{
    padding-bottom: 0px;
    margin-bottom: 8px;
  }
  .counter-block-one{
    max-width: none;
    text-align: center;
  }
  .feature-block-one{
    padding: 30px 15px;
  }
  .news-block-one .lower-content {
    padding: 38px 15px 45px 15px;
  }
  .footer-top .post-widget{
    margin: 0px 0px 30px 0px;
  }
  .testimonial-block-one .authore-info {
    padding: 0px 0px 0px 95px;
  }
  .blog-details-content .post-share-option .tags{
    float: none;
    display: block;
    margin: 0px 0px 15px 0px;
  }
  .blog-details-content .post-share-option .post-social{
    float: none;
    display: block;
  }
  .blog-details-content .author-box .author-image{
    position: relative;
    margin: 15px auto;
  }
  .blog-details-content .author-box {
    padding: 34px 30px 32px 30px;
    text-align: center;
  }
  .about-section,
  .form-section,
  .sec-pad,
  .cta-section{
    padding: 70px 0px;
  }

  .header-bottom .logo-outer{
    padding: 10px 0px;
  }

  .main-slider.style-three .slide{
    padding: 100px 0px 120px 0px;
  }

  .about-style-two,
  .intro-section,
  .put-security,
  .project-section,
  .feature-style-four,
  .feature-style-five{
    padding: 70px 0px;
  }

  .service-block-two .inner-box .content-box {
    padding: 36px 35px 40px 235px;
  }

  .service-style-two,
  .news-section.alternet-2{
    padding: 70px 0px 40px 0px;
  }

  .feature-style-five .content-box{
    margin-top: 0px;
  }

  .main-footer .gallery-widget{
    margin-bottom: 30px;
  }

  .main-slider.style-four .slide{
    padding: 100px 0px;
  }

  .advice-section .owl-nav{
    display: none;
  }

  .world-cyber .office-location .location-area{
    left: -150px;
  }

  .world-cyber,
  .works-section,
  .team-style-two,
  .counter-style-two{
    padding: 70px 0px;
  }

  .cyber-awareness{
    padding: 70px 0px 40px 0px;
  }

  .cyber-awareness .inner-box .single-item,
  .cyber-awareness .inner-box .single-item:hover{
    margin-bottom: 30px !important;
  }

  .counter-block-two{
    padding: 0px;
    margin-bottom: 30px;
    border: none;
  }

  .counter-style-two .counter-block:last-child .counter-block-two{
    margin-bottom: 0px;
  }

  .main-header.style-five .header-top .right-column{
    float: none;
    display: block;
    text-align: center;
  }

  .main-header.style-five .header-top .right-column .info-box li{
    margin-bottom: 15px;
  }

  .main-slider.style-five .owl-dots{
    display: none !important;
  }

  .main-slider.style-five .slide{
    padding: 100px 0px;
  }

  .about-style-four{
    padding: 70px 0px 40px 0px;
  }

  .about-style-four .upper-box .content-box{
    margin: 0px;
    padding: 0px 30px 40px 30px;
  }

  .about-style-four .upper-box{
    margin-bottom: 60px;
  }

  .video-section{
    padding: 100px 0px;
  }

  .brand-style-two,
  .about-style-five,
  .smart-security{
    padding: 70px 0px;
  }

  .about-style-five .content-box .inner-box{
    min-height: auto;
    margin-bottom: 30px;
  }

  .smart-solutions{
    padding-bottom: 50px;
  }

  .feature-style-six{
    padding-top: 70px;
    padding-bottom: 360px;
  }

  .testimonial-section.alternet-2{
    padding: 400px 0px 30px 0px;
  }

  .download-app,
  .form-style-three{
    padding: 70px 0px;
  }

  .advice-section:before{
    display: none;
  }

  .smart-solutions .content-box{
    margin-right: 0px;
  }
	
}

@media only screen and (max-width: 599px){
	
  .page-title {
    padding: 80px 0;
  }
  .error-section{
    padding: 100px 0px;
  }

  .main-slider .slide{
    padding: 200px 0px 0px 0px;
  }

  .main-slider.style-two .slide {
    padding-top: 100px;
  }

  .service-block-two .inner-box .image-box{
    position: relative;
  }

  .service-block-two .inner-box .content-box{
    padding-left: 35px;
  }

  .put-security .content-box{
    padding-left: 40px;
  }

  .put-security .content-box .upper-box h2:before{
    display: none;
  }

  .about-style-three .content-box h2,
  .service-style-three .title-box h2,
  .advice-section .title-box h2,
  .world-cyber .content-box h1,
  .works-section .content-box h2,
  .team-style-two .title-box h2,
  .cyber-awareness .content-box h2,
  .news-section.alternet-3 .title-box h2,
  .main-slider.style-five .content h1,
  .service-style-four .title-box h1,
  .video-section .inner-box h2,
  .project-section.alternet-2 .title-box h2,
  .testimonial-style-two .title-box h1,
  .form-style-two .title-box h1,
  .about-style-five .content-box .upper-box h2,
  .smart-solutions .content-box .title-box h2,
  .smart-security .outer-container .title-box h2,
  .feature-style-six .inner-box .content-box h2,
  .testimonial-section.alternet-2 .title-box h2,
  .download-app .content-box h2,
  .form-style-three .title-box h2,
  .main-slider.style-three h1,
  .main-slider.style-four .content h1{
    font-size: 36px;
    line-height: 45px;
  }

  .smart-solutions .content-box .inner-box .single-item{
    width: 100%;
  }

}


@media only screen and (max-width: 499px){

  .blog-details-content .comments-area .comment-inner .replay-btn{
    position: relative;
    top: 0px;
    right: 0px;
  }
  .blog-details-content .comments-area .comment-inner .text{
    margin-bottom: 15px;
  } 
  .main-header .header-top .top-right li{
    text-align: center;
    margin: 3px 10px;
  }
  .brand-section .brand-content li.image-box:last-child{
    margin-right: 15px;
  }
  .header-style-two .header-top .left-column li{
    margin: 3px 10px;
  }
  .main-header .header-top{
    padding-top: 15px;
  }
  .main-header .header-top .top-left{
    margin-bottom: 15px;
  }
  .main-slider .text{
    font-size: 11px; line-height: 18px; margin-bottom: 20px;
  }
  .main-slider h1{
    font-size: 40px;
    line-height: 50px;
  }
  .contact-section .contact-info{
    padding: 45px 20px 50px 20px;
  }

  .team-section .link-btn{
    margin-top: 30px;
  }
  .header-style-two .header-bottom .logo-outer {
    padding: 5px 0px;
  }

  .about-section .about-content .single-item{
    padding-left: 0px;
    text-align: center;
  }

  .about-section .about-content .single-item .icon-box{
    position: relative;
    margin: 0 auto;
  }

  .about-section .about-content .single-item h4 a{
    margin-top: 15px;
  }

  .our-protection .inner-content .single-item .icon-box{
    position: relative !important;
    margin: 0 auto !important;
  }

  .our-protection .inner-content .single-item{
    padding: 0px !important;
    text-align: center !important;
    margin-bottom: 40px;
  }

  .our-protection .inner-content .single-item h4 a{
    margin-top: 15px !important;
  }

  .page-title .content-box .title {
    font-size: 38px;
    line-height: 45px;
  }

  .about-style-two .content-box .list-item li{
    width: 100%;
  }

  .feature-style-five .content-box{
    padding: 50px 30px;
  }

  .video-style-two .inner-box .video-inner{
    padding: 150px 0px;
  }

}

@media only screen and (max-width: 399px){

	.cta-section .cta-content .link .btn-style-one{
    display: block;
    margin-bottom: 10px;
  }
  .brand-section .brand-content li.image-box,
  .brand-section .brand-content li.image-box:last-child{
    width: 173px;
    float: none;
  }
  .blog-details .sidebar .sidebar-post .post{
    padding-bottom: 30px;
  }

  .our-protection .inner-content .image-box img{
    width: 100%;
  }

  .main-header.style-three .header-bottom .outer-box .btn-box{
    display: none;
  }

  .feature-block-two .inner-box{
    padding: 50px 20px 46px 25px;
  }

  .about-style-two .content-box .lower-box h2 a,
  .about-style-two .content-box .lower-box h3{
    font-size: 20px;
    line-height: 30px;
  }

  .feature-style-four .content-box .single-item{
    padding-left: 120px;
  }

  .feature-style-five .content-box h2{
    font-size: 30px;
    line-height: 36px;
  }

  h2,
  h1{
    font-size: 20px !important;
    line-height: 30px !important;
  }

  .advice-section .single-item{
    margin-bottom: 30px;
  }

  .main-header.style-five .header-bottom .btn-box{
    display: none;
  }

}




/* =============== Mobile menu ===================== */

@media only screen and (max-width: 991px) {
  .header-top .links-nav li{
    margin-right: 15px;
  } 
  .main-menu .navbar-header{
    position: relative;
    float:none;
    display:block;
    text-align:left;
    width:100%;
    top: 0px;
  }
  .main-header .main-menu {
    width: 100%;
  }  
  .main-menu .navbar-header .navbar-toggle{
    display:inline-block;
    z-index:7;
    float:none;
    padding: 10px 5px;
    cursor:  pointer;
    margin: 0px 0px 0px 0px;
    border-radius:0px;
    background:  transparent;
  }  
  .main-menu .navbar-header .navbar-toggle .icon-bar{
    background: #ffffff;
    height: 2px;
    width: 29px;
    display:  block;
    margin: 7px 5px;
  }
  .main-menu .collapse {
    overflow:auto;
    float:none;
    width:100%;
    padding:0px 0px 0px;
    border:none;
    margin:0px;
    max-height: 320px;
    -ms-border-radius:3px;
    -moz-border-radius:3px;
    -webkit-border-radius:3px;
    -o-border-radius:3px;
    border-radius:3px;
   }
   .main-menu .navbar-collapse > .navigation{
    float:none !important;
    margin:0px !important;
    width:100% !important;
    background: #333333;
    border:1px solid #ffffff;
  }  
  .main-menu .navbar-collapse > .navigation > li{
    margin:0px !important;
    float:none !important;
    width:100%;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1) !important;
  }  
  .main-menu .navigation > li > a,
  .main-menu .navigation > li > ul:before{
    border:none;  
  }  
  .main-menu .navbar-collapse > .navigation > li > a{
    padding:10px 10px !important;
    border:none !important;
  }  
  .main-menu .navigation li.dropdown > a:after,
  .main-menu .navigation > li.dropdown > a:before,
  .main-menu .navigation > li > ul > li > a::before,
  .main-menu .navigation > li > ul > li > ul > li > a::before{
    color:#ffffff !important;
    right:15px;
    font-size:16px;
    display:none !important;
  }  
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul{
    position:relative;
    border:none;
    float:none;
    visibility:visible;
    opacity:1;
    display:none;
    margin:0px;
    padding:0px;
    left:auto !important;
    right:auto !important;
    top:auto !important;
    width:100%;
    background: #333333;
    -webkit-border-radius:0px;
    -ms-border-radius:0px;
    -o-border-radius:0px;
    -moz-border-radius:0px;
    border-radius:0px;
    transition:none !important;
    -webkit-transition:none !important;
    -ms-transition:none !important;
    -o-transition:none !important;
    -moz-transition:none !important;
    box-shadow:none !important;
  }    
  .main-menu .navbar-collapse > .navigation > li > ul,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul{
    border-top:1px solid rgba(255,255,255,0.1) !important;
  }
  .main-menu .navbar-collapse > .navigation > li:last-child{
    border-bottom: none;
  } 
  .main-menu .navbar-collapse > .navigation > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li > a{
    padding:12px 15px !important;
    line-height:22px;
    color: #b8b8b8;
    background: #333333;
    text-align:left;
    min-height:0px;
  }  
  .main-menu .navbar-collapse > .navigation > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li > ul > li > ul > li:hover > a,
  .main-menu .navbar-collapse > .navigation > li.current > a,
  .main-menu .navbar-collapse > .navigation > li.current-menu-item > a{
    color: #ffffff !important;
    background: #333333;
  }  
  .main-menu .navbar-collapse > .navigation li.dropdown .dropdown-btn{
    display:block;
  }  
  .main-menu .navbar-collapse > .navigation li.dropdown:after,
  .main-menu .navigation > li > ul:before{
    display:none !important;  
  }

}
